#html{
	background-color: black;
#header{
	background-color: black;
}
#header{
	position: sticky;
	position-fixed: top;
	top: 0px;
}
#titulotexto{
	position: sticky;
}
#t1{
	text-align: center;
	background-color: black;
	color: white;
	position: sticky;
	letter-spacing: 4px;
	world-spacing: 12px;
}
#pie{
	background-color: black;
	height: 120px;
	color: white;
}
#pie2{
	padding: 25px;
	text-align: center;
}
#pie3{
	padding: 10px;
	text-align: left;
	background-color: black;
}
#menu{
	display: block;
	justify-content: center;
	text-align: center;
	position: relative;
	top: -270px;

}
#m1{
	display: inline;
	justify-content: center;
	margin: 20px;
}
#m2{
	display: inline;
	justify-content: center;
	margin: 20px;
}
#m3{
	display: inline;
	justify-content: center;
	margin: 20px;
}
#m4{
	display: inline;
	justify-content: center;
	margin: 20px;
}
#cars{
	text-align: center;
}
#txt{
	width: 1000px;	
	justify-content: center;
	text-align: justify;
	display: inline-block;
	position: relavite;
	color: black;
}
#me{
	text-align: center;
	justify-content: center;
	background-color: white; 
}
#b1{
	color: white;
	background-color: black;
	border-radius: 100px;
	width: 200px;
	text-align: center;
	display: inline-block;
	float: right;
	word-spacing: 5px;
}
#p1{
	display: inline-block;
}
}